<p id="notice"><%= notice %></p>

<h1>Channelcomments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channelcomments.each do |channelcomment| %>
      <tr>
        <td><%= channelcomment.comment_id %></td>
        <td><%= channelcomment.body %></td>
        <td><%= link_to 'Show', channelcomment %></td>
        <td><%= link_to 'Edit', edit_channelcomment_path(channelcomment) %></td>
        <td><%= link_to 'Destroy', channelcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channelcomment', new_channelcomment_path %>
